﻿@{
    Layout = null;
}
@model MainProject.Bussiness.Admin.Models.MediaManageViewModel

<tr>
    <td>
        @Html.Hidden("Medias[" + Model.Position + "].Id", Model.Id, new { @class = "form-control" })
        @Html.Hidden("Medias[" + Model.Position + "].IsDeleted", Model.IsDeleted)
        @Model.Position
    </td>
    <td>
        <div class="form-group">
            <div class="input-group shadow-sm">
                @Html.TextBoxFor(d => d.Name, new { @class = "form-control", @Name = "Medias[" + Model.Position + "].Name" })
            </div>
            @Html.ValidationMessage("Medias[" + Model.Position + "].Name")
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="input-group shadow-sm">
                @Html.TextBoxFor(d => d.ImageDefault, new { @class = "form-control", @Name = "Medias[" + Model.Position + "].ImageDefault" })
            </div>
            @Html.ValidationMessage("Medias[" + Model.Position + "].ImageDefault")
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="input-group shadow-sm">
                @Html.TextBoxFor(d => d.AltImage, new { @class = "form-control", @Name = "Medias[" + Model.Position + "].AltImage" })
            </div>
            @Html.ValidationMessage("Medias[" + Model.Position + "].AltImage")
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="input-group shadow-sm">
                @Html.TextBoxFor(d => d.Order, new { @class = "form-control", @Name = "Medias[" + Model.Position + "].Order", @type = "number" })
            </div>
            @Html.ValidationMessage("Medias[" + Model.Position + "].Order")
        </div>
    </td>
    <td class="text-center">
        <button class="btn btn-outline-danger" type="button"
                onclick="$(this).parents('tr:first').find('input[name=\'Medias[@Model.Position].IsDeleted\']').val(true);
                        $(this).parents('tr:first').hide();
                        $(this).parents('tr:first').find('input[type=\'text\']').each(function (i) { $(this).val('Deleted'); })">
            Xóa
        </button>
    </td>
</tr>