﻿@model MainProject.Bussiness.Admin.Models.GalleryManageViewModel
@{
    ViewBag.Title = "Thêm album";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/library.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Thêm Album</h3>
                        <p>Tại đây các quản trị viên có thể thêm Các album dạng @(Model.IsVideo ? "video" : "danh sách hình ảnh") cho website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="tab-container">
                    <ul class="list-tab">
                        <li class="item acitve" toggle-for="item-1">Nội dung bài viết</li>
                        <li class="item" toggle-for="item-2" @(Model.IsVideo ? "hidden" : "")>Hình ảnh</li>
                    </ul>
                    <div class="tab-content">
                        <div class="content" tab-id="item-1">
                            <div class="block-form">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-row">
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(d => d.LogHistoryId)
                                        @Html.HiddenFor(d => d.ImageFolder)
                                        <div class="form-group col-lg-2">
                                            <label>Hiển thị</label>
                                            <div class="input-custom">
                                                <div class="_checkbox-normal">
                                                    <label>
                                                        @Html.EditorFor(d => d.IsPublished)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-2" hidden>
                                            <label>Đặt làm video</label>
                                            <div class="input-custom">
                                                <div class="_checkbox-normal">
                                                    <label>
                                                        @Html.EditorFor(d => d.IsVideo)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label id="ResourcePathName"></label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.ResourcePath, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.ResourcePath)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-5">
                                            <label>Thứ tự</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Order, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Order)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="col-lg-12">
                                            <h3>Thông tin theo ngôn ngữ</h3>
                                            <div class="block-subTab mt-5">
                                                <div class="tab-container">
                                                    <ul class="list-tab">
                                                        @for (int i = 0; i < Model.GalleryLanguageTranslations.Count; i++)
                                                        {
                                                            <li class="item @(i==0 ? "active" : "")" subtab-toggle-for="sub-item-@i">
                                                                @Model.GalleryLanguageTranslations[i].LanguageName
                                                            </li>
                                                        }
                                                    </ul>
                                                    <div class="tab-content">
                                                        @for (int i = 0; i < Model.GalleryLanguageTranslations.Count; i++)
                                                        {
                                                            <div class="content @(i==0 ? "active" : "")" sub-tab-id="sub-item-@i">
                                                                <div class="form-row">
                                                                    @Html.HiddenFor(d => Model.GalleryLanguageTranslations[i].LanguageId)
                                                                    <div class="form-group col-lg-5">
                                                                        <label>Tên *</label><br />
                                                                        <div class="input-group shadow-sm">
                                                                            @Html.TextBoxFor(d => Model.GalleryLanguageTranslations[i].Name, new { @class = "form-control" })
                                                                        </div>
                                                                        @Html.ValidationMessageFor(d => Model.GalleryLanguageTranslations[i].Name)
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-100"></div>
                                        <div class="block-table table-input col-lg-12 mt-4 album_images">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th class="text-center">Tên</th>
                                                        <th class="text-center">Đường dẫn hình</th>
                                                        <th class="text-center">Nội dung</th>
                                                        <th class="text-center">Thứ tự</th>
                                                        <th class="text-center">
                                                            <button class="btn btn-outline-success" type="button"
                                                                    onclick="createMedia(event)">
                                                                THÊM
                                                            </button>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>

                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-12  mt-5">
                                            <a class="btn btn-pill btn-danger" href="/Admin/GalleryAdmin/Index?isVideo=@Model.IsVideo">Hủy</a>
                                            <button class="btn btn-pill btn-success">Cập nhật</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="content" tab-id="item-2">
                            <iframe src="/admin/upload/images?folder=@Model.ImageFolder" frameborder="0" width="100%" height="1000px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>

@section scripts {
    <script type="text/javascript">
        var ImageUrl = "";
        var VideoUrl = "";
        $("#IsPublished").click();
        showVideo()
        //$("#IsVideo").on('click', function () {
        //    showVideo()
        //});

        function showVideo(event) {
            // Incase album is video
            if ($('#IsVideo').is(':checked')) {
                VideoUrl = $("#ResourcePath").val();
                document.getElementById("ResourcePathName").innerHTML = "Video Id *";
                if (VideoUrl != "") {
                    $("#ResourcePath").val(VideoUrl);
                }
                else {
                    $("#ResourcePath").val("");
                }
                $(".album_images").hide();
            }
            // Incase Album is not video
            else {
                ImageUrl = $("#ResourcePath").val();
                document.getElementById("ResourcePathName").innerHTML = "Ảnh đại diện";
                if (ImageUrl != "") {
                    $("#ResourcePath").val(ImageUrl);
                }
                else {
                    $("#ResourcePath").val("");
                }
                $(".album_images").show();
            }
        }

        // Create Media
        function createMedia(event) {
            var target = event.target || event.srcElement;
            // Array position
            var position = $(target).parents("table").find("tbody tr").length;
            var $tbody = $(target).parents("table").find("tbody")
            $.ajax({
                url: "/Admin/GalleryAdmin/CreateMedia?pos=" + position,
                type: "GET",
                beforeSend: function () {
                },
                success: function (html) {
                    $tbody.append(html);

                    var form = $("form")
                        .removeData("validator") /* added by the raw jquery.validate plugin */
                        .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/

                    $.validator.unobtrusive.parse(form);
                }
            })
        }
    </script>
}
