﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<MainProject.Core.Album>
@{
    ViewBag.Title = "Quản lý album";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/library.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Danh sách Hình ảnh</h3>
                        <p>Tại đây các quản trị viên có thể quản lý tất cả album là hình ảnh của mục thư viện.</p>
                    </div>
                </div>
                @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageGallery, PermissionCollection.Create))
                {
                    <div class="page-title-actions">
                        <a class="btn btn-pill btn-success" href="/Admin/GalleryAdmin/Create?isVideo=@Model.FilterViewModel.Title">Thêm mới</a>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-center">Tên</th>
                            <th class="text-center">Thứ tự</th>
                            <th class="text-center">Hiển thị</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Name</td>
                                    <td class="text-center">
                                        @item.Order.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class="text-center">
                                        <div class="input-custom">
                                            <label class="_checkbox-custom">
                                                @Html.CheckBoxFor(d => item.IsPublished, new { @class = "custom-control-input", @readonly = true })
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageGallery, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA-->
                                                <a class="btn btn-outline-primary item" href="/Admin/GalleryAdmin/Edit?Id=@item.Id&IsVideo=@item.IsVideo">
                                          <span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageGallery, PermissionCollection.Delete))
                                            {
                                                <!-- XÓA-->
                                                <button class="btn-popup btn btn-outline-danger item" fancybox="fancybox-notification" fancyboxId="#fancybox-notification" dataFieldName="Id" dataId="@item.Id" dataUrl="/Admin/GalleryAdmin/Delete">
                                               <span class="lnr lnr-trash"></span>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group text-right col-lg-12">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel()
                    {
                        DivContainerStyle = "class='pagination'",
                        CurrentItemStyle = "class='active'"
                    })
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>
