﻿@model MainProject.Framework.Models.FilterViewModel

<div class="filter">
    <form action="/Admin/ResourceAdmin">
        <div class="form-row">
            <div class="col-lg-3 form-group">
                <label class="text-center">Ngôn ngữ</label>
                <div class="input-group shadow-sm">
                    @Html.DropDownList("languageId", Model.LanguageViewModel.Languages, new { @class = "form-control", onchange = "changeLanguage(this.value)" })
                </div>
            </div>
            <div class="col-lg-3 form-group">
                <label>Tìm kiếm</label>
                <div class="input-group shadow-sm">
                    <input class="form-control" name="filter" placeholder="Tìm kiếm">
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-sm shadow">Lọc</button>
    </form>
</div>