﻿@model MainProject.Common.Models.StringResourceValueModel
@{
    ViewBag.Title = "Cập nhật tài nguyên";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Chỉnh sửa Tài nguyên</h3>
                        <p>Tại đây các quản trị viên có thể cập nhật thông tin của những keyword cho website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="tab-container">
				<div class="block-list-tab">
				    <ul class="list-tab" hidden>
                        <li class="item acitve" toggle-for="item-1">Nội dung</li>
                    </ul>
				</div>
                    <div class="tab-content">
                        <div class="content" tab-id="item-1">
                            <div class="block-form">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-row">
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(d => d.Id)
                                        <div class="form-group col-lg-6">
                                            <label>Keyword</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.KeyName, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Giá trị</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Value, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Value)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-12">
                                            <a class="btn btn-pill btn-danger" href="/Admin/ResourceAdmin">Hủy</a>
                                            <button class="btn btn-pill btn-success">Cập nhật</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>