﻿@using MainProject.Core
@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<StringResourceValue>
@{
    ViewBag.Title = "Quản lý resource!";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/setting.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Quản lý Resources</h3>
                        <p>Tại đây các quản trị viên có thể chỉnh sửa các tài nguyên, từ khóa của website</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                @Html.Partial("_Filtering", Model.FilterViewModel)
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Từ khóa</th>
                            <th>Giá trị</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Key.Name</td>
                                    <td>@item.Value</td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageResource, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA-->
                                                <a class="btn btn-outline-primary item" href="/Admin/ResourceAdmin/Edit/@item.Id">
                                                   <span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group text-right col-lg-12">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel()
                    {
                        DivContainerStyle = "class='pagination'",
                        CurrentItemStyle = "class='active'"
                    })
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>

@section scripts{
    <script>
        function changeLanguage(id) {
            window.location.href = "/Admin/ResourceAdmin?languageId=" + id;
        }
    </script>
}