﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@using MainProject.Framework.Constant
@model IndexViewModel<MainProject.Core.UserInfos.Role>
@{
    ViewBag.Title = "Quản lý Quyền";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/group-user.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Bộ phân quyền nhóm quản trị</h3>
                        <p>Tại đây các quản trị viên có thể quản lý bộ quyền của từng nhóm quản trị viên với các chức năng cơ bản: thêm, xóa, sửa.</p>
                    </div>
                </div>
                @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManagePermissions, PermissionCollection.Create))
                {
                    <div class="page-title-actions"><a class="btn btn-pill btn-success" href="/Admin/RoleAdmin/Create">Thêm mới</a></div>
                }
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Tên bộ quyền</th>
                            <th>Mô tả chức năng bộ quyền</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>
                                        <div class="list-item">
                                            <div class="item badge badge-primary p-2">@item.RoleName</div>
                                        </div>
                                    </td>
                                    <td>@item.RoleDescription</td>
                                    <td>
                                        <div class="list-item center">
                                            @if (item.RoleName != RoleName.Admin && item.RoleName != RoleName.Guest)
                                            {
                                                if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManagePermissions, PermissionCollection.Edit))
                                                {
                                                    <!-- SỬA--><a class="btn btn-outline-primary item" href="/Admin/RoleAdmin/Manage/@item.RoleId">
                                                    <span class="lnr lnr-pencil"></span>
                                                    </a>
                                                }
                                                if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManagePermissions, PermissionCollection.Delete))
                                                {
                                                    <!-- XÓA-->
                                                    <button class="btn-popup btn btn-outline-danger item" fancybox="fancybox-notification" fancyboxId="#fancybox-notification" dataFieldName="Id" dataId="@item.RoleId" dataUrl="/Admin/RoleAdmin/Delete">
                                                  		<span class="lnr lnr-trash"></span>
                                                    </button>
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group text-right col-lg-12">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel()
                    {
                        DivContainerStyle = "class='pagination'",
                        CurrentItemStyle = "class='active'"
                    })
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>