﻿@model MainProject.Common.Models.RoleManageModel
@{
    ViewBag.Title = "Quản lý nhóm tài khoản người dùng";
    var actionText = Model.RoleId != 0 ? "Chỉnh sửa" : "Thêm mới";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/group-user.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>@actionText nhóm thành viên</h3>
                        <p>Tại đây các quản trị viên có thể cập nhật thông tin các menu.</p>
                    </div>
                </div>
                <div class="page-title-actions"></div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                @using (Html.BeginForm())
                {
                    <div class="block-form">
                        <div class="form-row">
                            @Html.HiddenFor(x => x.RoleId)
                            <div class="w-100"></div>
                            <div class="form-group col-lg-6 mx-auto">
                                <label>Tên nhóm <span style="color:red">*</span></label>
                                <div class="input-group shadow-sm">
                                    @Html.TextBoxFor(d => d.RoleName, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.RoleName)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-6 m-auto">
                                <label>Mô tả</label>
                                <div class="input-group shadow-sm">
                                    @Html.TextAreaFor(d => d.RoleDescription, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.RoleDescription)
                            </div>
                        </div>
                        <div class="block-table mt-5">
                            <table class="table table-bordered m-0">
                                <thead>
                                    <tr>
                                        <th class="text-center">Quyền</th>
                                        <th class="text-center">Tất cả</th>
                                        <th class="text-center">Xem</th>
                                        <th class="text-center">Thêm</th>
                                        <th class="text-center">Sửa</th>
                                        <th class="text-center">Xóa</th>
                                    </tr>
                                </thead>
                                <tbody class="table-multiple-checkbox">
                                    @{
                                        int index = 1;
                                        foreach (var featureGroup in Model.FeatureGroups)
                                        {
                                            <tr class="role-row role-checkbox">
                                                <td class="bold left" colspan="6"><strong>@featureGroup.FeatureGroupName</strong></td>
                                            </tr>
                                            foreach (var feature in featureGroup.Features)
                                            {
                                                var checkAll = Model.ContentIds.Contains(feature.FeatureValue) ? "checked" : string.Empty;
                                                var checkView = Model.ViewContentIds.Contains(feature.FeatureValue) ? "checked" : string.Empty;
                                                var checkCreate = Model.CreateContentIds.Contains(feature.FeatureValue) ? "checked" : string.Empty;
                                                var checkEdit = Model.EditContentIds.Contains(feature.FeatureValue) ? "checked" : string.Empty;
                                                var checkDelete = Model.DeleteContentIds.Contains(feature.FeatureValue) ? "checked" : string.Empty;
                                                index++;
                                                <tr class="role-row role-checkbox">
                                                    <td>@feature.FeatureName</td>
                                                    <!-- In case: Create Errors -> reload already checked CheckAll buttons-->
                                                    <td>
                                                        <div class="input-custom">
                                                            <div class="_checkbox-normal color-2 m-auto">
                                                                <label>
                                                                    <input type="checkbox" value="@feature.FeatureValue" class="check-all" name="ContentIds" @checkAll>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- Checking available behaviors of content -->
                                                    <td>
                                                        @if (feature.HasViewPermission)
                                                        {
                                                            <div class="input-custom">
                                                                <div class="_checkbox-normal m-auto">
                                                                    <label>
                                                                        <input class="view" type="checkbox" value="@feature.FeatureValue" name="ViewContentIds" @checkView>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (feature.HasCreatePermission)
                                                        {
                                                            <div class="input-custom">
                                                                <div class="_checkbox-normal m-auto">
                                                                    <label>
                                                                        <input class="add" type="checkbox" value="@feature.FeatureValue" name="CreateContentIds" @checkCreate>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (feature.HasEditPermission)
                                                        {
                                                            <div class="input-custom">
                                                                <div class="_checkbox-normal m-auto">
                                                                    <label>
                                                                        <input class="edit" type="checkbox" value="@feature.FeatureValue" name="EditContentIds" @checkEdit>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (feature.HasDeletePermission)
                                                        {
                                                            <div class="input-custom">
                                                                <div class="_checkbox-normal m-auto">
                                                                    <label>
                                                                        <input class="delete" type="checkbox" value="@feature.FeatureValue" name="DeleteContentIds" @checkDelete>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="w-100"></div>
                        <div class="form-group col-lg-12 mt-5">
                            <a class="btn btn-pill btn-danger" href="/Admin/RoleAdmin">Hủy</a>
                            <button class="btn btn-pill btn-success">Cập nhật</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>
