﻿@{
    Layout = null;
}
@using MainProject.Core.Enums
@model MainProject.Framework.Models.FilterViewModel

<div class="filter">
    <form action="/Admin/ArticleAdmin">
        <div class="form-row">
            <div class="col-lg-3 form-group">
                <label class="text-center">Ngôn ngữ</label>
                <div class="input-group shadow-sm">
                    @Html.DropDownList("cul", Model.LanguageViewModel.Languages, new { onchange = "changeCategory();", @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-3 form-group">
                <label class="text-center">Danh mục</label>
                <div class="input-group shadow-sm">
                    @Html.DropDownList("fa", new List<SelectListItem>(), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-3 form-group">
                <label>Tìm kiếm</label>
                <div class="input-group shadow-sm">
                    <input class="form-control" name="text" placeholder="Tìm kiếm">
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-sm shadow">Lọc</button>
    </form>
</div>