﻿@model MainProject.Bussiness.Admin.Models.ArticleManageViewModel
@{
    ViewBag.Title = "Chỉnh sửa bài viết";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Chỉnh sửa Bài viết</h3>
                        <p>Tại đây các quản trị viên có thể Chỉnh sửa thông tin Bài viết cho website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="tab-container">
				<div class="block-list-tab">
				 <ul class="list-tab">
                        <li class="item acitve" toggle-for="item-1">Nội dung bài viết</li>
                        <li class="item" toggle-for="item-2">SEO bài viết</li>
                        <li class="item" toggle-for="item-3">Hình ảnh</li>
                    </ul>
				</div>
                    <div class="tab-content">
                        @using (Html.BeginForm())
                        {
                            <div class="content" tab-id="item-1">
                                <div class="block-form">
                                    <div class="form-row">
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(d => d.Id)
                                        @Html.HiddenFor(d => d.ImageFolder)
                                        <div class="form-group col-lg-5">
                                            <label>Ngôn ngữ</label>
                                            <div class="input-group shadow-sm">
                                                @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @onchange = "changeLanguage(this.value);", @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
                                        </div>
                                        <div class="form-group col-lg-5">
                                            <label>Danh mục</label>
                                            <div class="input-group shadow-sm">
                                                @Html.DropDownListFor(d => d.CategorySelectedValue, new List<SelectListItem>(), new { @class = "form-control chooseUrlPage" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.CategorySelectedValue)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-5">
                                            <label>Đường dẫn *</label>
                                            <div class="input-group shadow-sm">
                                                <div class="input-group-prepend url-default"><span class="input-group-text"></span></div>
                                                @Html.TextBoxFor(d => d.SeName, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.SeName)
                                        </div>
                                        <div class="form-group col-lg-5">
                                            <label>Đường dẫn mới</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.ExternalUrl, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.ExternalUrl)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-5">
                                            <label>Tiêu đề *</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Title)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-5">
                                            <label>Ảnh đại diện</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.ImageDefault, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.ImageDefault)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-md-12">
                                            <label>Mô tả</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextAreaFor(d => d.Description, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Description)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="block-form col-lg-12">
                                            <div class="form-group">
                                            <label>Nội dung</label>
                                                @Html.TextAreaFor(d => d.Content, new { @class = "form-control ck-editor" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Content)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-5">
                                            <label>Ngày đăng</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Order, "{0:yyyy-MM-dd}", new { @class = "form-control date-picker", @type = "date" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Order)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-2">
                                            <label>Hiển thị</label>
                                            <div class="input-custom">
                                                <div class="_checkbox-normal">
                                                    <label>
                                                        @Html.EditorFor(d => d.IsPublished)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-12">
                                            <a class="btn btn-pill btn-danger" href="/Admin/ArticleAdmin">Hủy</a>
                                            <button class="btn btn-pill btn-success">Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content" tab-id="item-2">
                                @Html.Partial("/Areas/Admin/Views/Shared/_SEO.cshtml", new MainProject.Core.Seo()
                                {
                                    MetaTitle = Model.MetaTitle,
                                    MetaImage = Model.MetaImage,
                                    MetaDescription = Model.MetaDescription,
                                    MetaKeywords = Model.MetaKeywords
                                })
                            </div>
                        }
                        <div class="content" tab-id="item-3">
                            <iframe src="/admin/upload/images?folder=@Model.ImageFolder" frameborder="0" width="100%" height="1000px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="js-page-verify" hidden></div>
</main>

@section scripts {
    <script>
        $("#Title").on('keyup', function () {
            var str = $(this).val();
            $("#SeName").val(change_alias(str));
        })
        $("#LanguageSelectedValue").trigger("change");

        function changeLanguage(languageId) {
            $.ajax({
                url: "/Admin/AdminCommon/GetNewsCategoryByLanguage?languageId=" + languageId + "&selectedValue=" + @Model.CategorySelectedValue,
                type: "GET",
                beforeSend: function () {
                    $('#CategorySelectedValue').attr("disabled", true);
                    $('#CategorySelectedValue').html('<option>Đang tải...</option>')
                }
            }).done(function (result) {
                $('#CategorySelectedValue').attr("disabled", false);
                $('#CategorySelectedValue').children().remove();
                $.each(result.Data, function (i, item) {
                    $("#CategorySelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
                });
            }).fail(function (jqXHR, textStatus) {
                $('#CategorySelectedValue').html('<option>Vui lòng chọn ngôn ngữ!</option>')
            });
        }
    </script>
}
