﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<MainProject.Core.Article>
@{
    ViewBag.Title = "Quản lý bài viết";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Danh sách các bài viết</h3>
                        <p>Tại đây các quản trị viên có thể quản lý các bài viết trên Website với các chức năng cơ bản: thêm, xóa, sửa.</p>
                    </div>
                </div>
                @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageNews, PermissionCollection.Create))
                {
                    <div class="page-title-actions"><a class="btn btn-pill btn-success" href="/Admin/ArticleAdmin/Create">Thêm mới</a></div>
                }
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                @Html.Partial("_Filtering", Model.FilterViewModel)
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tiêu đề</th>
                            <th>Đường dẫn</th>
                            <th>Danh mục</th>
                            <th class="text-center">Ngôn ngữ</th>
                            <th class="text-center">Hiển thị</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Title</td>
                                    <td>@item.GetUrl()</td>
                                    <td>@(item.Category.Title)</td>
                                    <td>
                                        <div class="language">
                                            <figure class="shadow"><img class="ofcv" src="@item.Language.Image" alt="@item.Language.Name"></figure>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="input-custom">
                                            <label class="_checkbox-custom">
                                                @Html.CheckBoxFor(d => item.IsPublished, new { @class = "custom-control-input", @readonly = true })
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageNews, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA--><a class="btn btn-outline-success item" href="/Admin/ArticleAdmin/Edit/@item.Id">
                                              <span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageNews, PermissionCollection.Delete))
                                            {
                                                <!-- XÓA-->
                                                <button class="btn-popup btn btn-outline-danger item" fancybox="fancybox-notification" fancyboxId="#fancybox-notification" dataFieldName="Id" dataId="@item.Id" dataUrl="/Admin/ArticleAdmin/Delete">
                                             	<span class="lnr lnr-trash"></span>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group text-right col-lg-12">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel()
                    {
                        DivContainerStyle = "class='pagination'",
                        CurrentItemStyle = "class='active'"
                    })
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>

@section scripts {
    <script type="text/javascript">
    changeCategory()
    function changeCategory() {
        var cul = $("#cul")[0].value;

        $.ajax({
            url: "/Admin/AdminCommon/GetNewsCategoryByLanguage?languageId=" + cul + "&selectedValue=" + @Model.FilterViewModel.FatherSelectModel.FatherSelectedValue,
            type: "GET",
            beforeSend: function () {
                $('#fa').attr("disabled", true);
                $('#fa').html('<option>Đang tải...</option>')
            }
        }).done(function (result) {
            $('#fa').attr("disabled", false);
            $('#fa').children().remove();
            $("#fa").append($('<option></option>').val("0").html("Tất cả"));
            $.each(result.Data, function (i, item) {
                $("#fa").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
            });
        }).fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }
    </script>

}