﻿@model MainProject.Core.Contact
@{
    ViewBag.Title = "Xem chi tiết liên hệ";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/mail.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Thông tin chi tiết liên hệ</h3>
                        <p>Tại đây các quản trị viên có thể xem chi tiết thông tin người liên hệ với website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="block-form">
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label>Họ và tên:</label>
                            <div class="input-group shadow-sm">
                                <input class="form-control" value="@Model.Name" readonly>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Số điện thoại</label>
                            <div class="input-group shadow-sm">
                                <input class="form-control" value="@Model.Phone" readonly>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Email</label>
                            <div class="input-group shadow-sm">
                                <input class="form-control" value="@Model.Email" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>Trung tâm</label>
                            <div class="input-group shadow-sm">
                                <input class="form-control" value="@Model.Address" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label>Thời gian liên hệ</label>
                            <div class="input-group shadow-sm">
                                <input class="form-control" value="@Model.CreatedDate.ToString("dd/MM/yyyy HH:mm")" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>