﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<MainProject.Core.Contact>
@{
    ViewBag.Title = "Quản lý Thông tin liên hệ";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/mail.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Danh sách Thông tin liên hệ</h3>
                        <p>Tại đây các quản trị viên có thể quản lý tất cả Thông tin khách hàng liên hệ thông qua website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên</th>
                            <th class="text-center">Số điện thoại</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Ngày gửi</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Name</td>
                                    <td class="text-center">
                                        @item.Phone
                                    </td>
                                    <td class="text-center">
                                        @item.Email
                                    </td>
                                    <td class="text-center">
                                        @item.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                                    </td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageContact, PermissionCollection.Edit))
                                            {
                                                <!-- Chi tiết -->
                                                <a class="btn btn-outline-info item" href="/Admin/ContactAdmin/Detail/@item.Id">
                                              <span class="lnr lnr-eye"></span>
                                                </a>
                                            }
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageContact, PermissionCollection.Delete))
                                            {
                                                <!-- XÓA-->
                                                <button class="btn-popup btn btn-outline-danger item" fancybox="fancybox-notification" fancyboxId="#fancybox-notification" dataFieldName="Id" dataId="@item.Id" dataUrl="/Admin/ContactAdmin/Delete">
                                               <span class="lnr lnr-trash"></span>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group text-right col-lg-12">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel()
                    {
                        DivContainerStyle = "class='pagination'",
                        CurrentItemStyle = "class='active'"
                    })
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>