﻿@model MainProject.Common.Models.FilterViewModel

<div class="filter">
    <form action="/Admin/BannerAdmin">
        <div class="form-row">
            <div class="col-lg-5 form-group">
                <label class="text-center">Ngôn ngữ</label>
						<div class="input-group shadow-sm">
                @Html.DropDownList("languageId", Model.LanguageViewModel.Languages, new { @class = "form-control shadow-sm" })
				</div>
            </div>
            @*<div class="col-lg-5 form-group">
                <label class="text-center">Thuộc trang</label>
				<div class="input-group shadow-sm">
                <select class="form-control">
                    <option>Tất cả</option>
                    <option>Trang chủ</option>
                    <option>Giới thiệu</option>
                </select>
				</div>
            </div>*@
                    <button class="btn btn-primary btn-sm shadow">Lọc</button>
        </div>
    </form>
</div>