﻿@model MainProject.Bussiness.Admin.Models.BannerManageViewModel
@{
    ViewBag.Title = "Thêm Banner";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Chỉnh sửa Banner</h3>
                        <p>Tại đây các quản trị viên có thể cập nhật thông tin các Banner cho website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="tab-container">
				<div class="block-list-tab">	
				  <ul class="list-tab">
                        <li class="item acitve" toggle-for="item-1">Nội dung bài viết</li>
                        <li class="item" toggle-for="item-2">Hình ảnh</li>
                    </ul>
				</div>
                  
                    <div class="tab-content">
                        <div class="content" tab-id="item-1">
                            <div class="block-form">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-row">
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(d => d.Id)
                                        @Html.HiddenFor(d => d.ImageFolder)
                                        <div class="form-group col-lg-2">
                                            <label>Hiển thị</label>
                                            <div class="input-custom">
                                                <div class="_checkbox-normal">
                                                    <label>
                                                        @Html.EditorFor(d => d.IsPublished)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-2" hidden>
                                            <label>Đặt làm video</label>
                                            <div class="input-custom">
                                                <div class="_checkbox-normal">
                                                    <label>
                                                        @Html.EditorFor(d => d.IsVideo)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Ngôn ngữ *</label>
                                            <div class="input-group shadow-sm">
                                                @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Tiêu đề</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Name, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Name)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label id="ResourcePathName">Ảnh đại diện *</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.ResourcePath, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.ResourcePath)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Alt</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Alt, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Alt)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Link liên kết</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Link, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Link)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Thứ tự</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Order, new { @class = "form-control", type = "number" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Order)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-12">
                                            <a class="btn btn-pill btn-danger" href="/Admin/BannerAdmin">Hủy</a>
                                            <button class="btn btn-pill btn-success">Thêm</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="content" tab-id="item-2">
                            <iframe src="/admin/upload/images?folder=@Model.ImageFolder" frameborder="0" width="100%" height="1000px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            showVideo();
            $("#IsVideo").on('click', function () {
                showVideo()
            });
        });

        function showVideo() {
            if ($('#IsVideo').is(':checked')) {
                document.getElementById("ResourcePathName").innerHTML = "Video Id *";
                $("#ResourcePath").val("");
                $(".nav-tabs li:nth-child(2)").hide();
            }
            else {
                document.getElementById("ResourcePathName").innerHTML = "Ảnh đại diện *";
                $("#ResourcePath").val("");
                $(".nav-tabs li:nth-child(2)").show();
            }
        }
    </script>
}