﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<MainProject.Core.Banner>
@{
    ViewBag.Title = "Danh sách Banner";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Danh sách Banner</h3>
                        <p>Tại đây các quản trị viên có thể quản lý tất cả Banner trên Website với các chức năng cơ bản: thêm, xóa, sửa.</p>
                    </div>
                </div>
                @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBanner, PermissionCollection.Create))
                {
                    <div class="page-title-actions"><a class="btn btn-pill btn-success" href="/Admin/BannerAdmin/Create">Thêm mới</a></div>
                }
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
            @Html.Partial("_Filtering", Model.FilterViewModel)
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tiêu đề</th>
                            <th class="text-center">Hình ảnh</th>
                            <th class="text-center">Ngôn ngữ</th>
                            <th class="text-center">Hiển thị</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Name</td>
                                    <td>
                                        @if (!item.IsVideo)
                                        {
                                            <div class="block-images-big"><img class="ofcv" src="@item.Path" alt="" srcset=""></div>
                                        }
                                        else
                                        {
                                            <text>@item.Path</text>
                                        }
                                    </td>
                                    <td>
                                        <div class="language">
                                            <figure class="shadow"><img class="ofcv" src="@item.Language.Image" alt="@item.Language.Name"></figure>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="input-custom">
                                            <label class="_checkbox-custom">
                                                <input class="custom-control-input" type="checkbox" @(item.IsPublished ? "checked=checked" : "") onclick="return false">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBanner, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA-->
                                                <a class="btn btn-outline-success item" href="/Admin/BannerAdmin/Edit/@item.Id">
                                               <span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBanner, PermissionCollection.Delete))
                                            {
                                                <button class="btn-popup btn btn-outline-danger item" fancybox="fancybox-notification" fancyboxId="#fancybox-notification" dataFieldName="Id" dataId="@item.Id" dataUrl="/Admin/BannerAdmin/Delete">
                                             <span class="lnr lnr-trash"></span>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group text-right col-lg-12">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel()
                    {
                        DivContainerStyle = "class='pagination'",
                        CurrentItemStyle = "class='active'"
                    })
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>





