﻿<main>
    <div class="main__inner">
        <div class="row">
            <div class="block-table col-lg-12">
                <div id="ckfinder-widget"></div>
                <script src="@Url.Content("~/CKFinderScripts/ckfindercrack.js")" type="text/javascript"></script>
                <script>
                    CKFinder.widget('ckfinder-widget', {
                        width: '100%',
                        height: 700
                    });
                </script>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>

