﻿@using MainProject.Core.Enums
@model MainProject.Common.Models.HomeViewModel

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/home.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Home</h3>
                        <p>Thông kê sơ bộ các thông số của website, các quản trị viên có thể xem và đánh giá chung được tình trạng của webite.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="statistical col-lg-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <div class="card-header-title">
                            <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/dashboard.svg" alt=""></div>
                            <h3>Thống kê chung</h3>
                        </div>
                        <div class="card-header-actions"><a href="#">View All</a></div>
                    </div>
                    <div class="card-body">
                        <div class="row list-statistical">
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="item shadow-sm">
                                    <div class="icon bg-success"><img class="svg" src="/Content/admin/assets/images/icons/user.svg" alt="" srcset=""></div>
                                    <div class="count">
                                        <div class="item-count">
                                            <h5>TÀI KHOẢN</h5><span>10.000.000.000</span>
                                        </div>
                                        <div class="item-count">
                                            <h5>HOẠT ĐỘNG</h5><span>3</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="item shadow-sm">
                                    <div class="icon bg-warning"><img class="svg" src="/Content/admin/assets/images/icons/cart.svg" alt="" srcset=""></div>
                                    <div class="count">
                                        <div class="item-count">
                                            <h5>ĐƠN HÀNG</h5><span>10</span>
                                        </div>
                                        <div class="item-count">
                                            <h5>ĐANG XỬ LÝ</h5><span>5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="item shadow-sm">
                                    <div class="icon bg-primary"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                                    <div class="count">
                                        <div class="item-count">
                                            <h5>BÀI VIẾT</h5><span>40</span>
                                        </div>
                                        <div class="item-count">
                                            <h5>HIỂN THỊ</h5><span>30</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="item shadow-sm">
                                    <div class="icon bg-danger"><img class="svg" src="/Content/admin/assets/images/icons/mail.svg" alt="" srcset=""></div>
                                    <div class="count">
                                        <div class="item-count">
                                            <h5>E-MAIL</h5><span>20</span>
                                        </div>
                                        <div class="item-count">
                                            <h5>ĐÃ XEM</h5><span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="item shadow-sm">
                                    <div class="icon bg-info"><img class="svg" src="/Content/admin/assets/images/icons/pages.svg" alt="" srcset=""></div>
                                    <div class="count">
                                        <div class="item-count">
                                            <h5>SỐ TRANG</h5><span>5</span>
                                        </div>
                                        <div class="item-count">
                                            <h5>HIỂN THỊ</h5><span>3</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="item shadow-sm">
                                    <div class="icon bg-secondary"><img class="svg" src="/Content/admin/assets/images/icons/products.svg" alt="" srcset=""></div>
                                    <div class="count">
                                        <div class="item-count">
                                            <h5>SẢN PHẨM</h5><span>100</span>
                                        </div>
                                        <div class="item-count">
                                            <h5>HIỂN THỊ</h5><span>30</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            @if (Model.Logins != null)
            {
                <div class="history col-lg-6 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <div class="card-header-title">
                                <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/history-login.svg" alt=""></div>
                                <h3>Lịch sử đăng nhập</h3>
                            </div>
                            <div class="card-header-actions"><a href="history.html">View All</a></div>
                        </div>
                        <div class="card-body">
                            <div class="max-height-500px">
                                <div class="list-history">
                                    @foreach (var item in Model.Logins)
                                    {
                                        <div class="item">
                                            <span class="circle bg-success"></span>
                                            <div class="action-content">
                                                <h5>Tài khoản:<span>@item.ActionBy</span></h5>
                                                <p>Đăng nhập vào lúc<span class="text-success">@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</span></p>
                                                <p>Đăng nhập bằng thiết bị<span class="text-success">@item.Comment.Substring(item.Comment.IndexOf("thiết bị ") + 9)</span></p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Activities != null)
            {
                <div class="history col-lg-6 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <div class="card-header-title">
                                <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/history-action.svg" alt=""></div>
                                <h3>Lịch sử hoạt động</h3>
                            </div>
                            <div class="card-header-actions"><a href="history.html">View All</a></div>
                        </div>
                        <div class="card-body">
                            <div class="max-height-500px">
                                <div class="list-history">
                                    @foreach (var item in Model.Activities)
                                    {
                                        var effect = "success";
                                        if (item.ActionType == ActionTypeCollection.Edit)
                                        {
                                            effect = "primary";
                                        }
                                        else if (item.ActionType == ActionTypeCollection.Delete)
                                        {
                                            effect = "danger";
                                        }
                                        <div class="item">
                                            <span class="circle bg-@effect"></span>
                                            <div class="action-content">
                                                <h5>Tài khoản:<span>@item.ActionBy</span></h5>
                                                <p>Mô tả hoạt động<span class="text-@effect">@item.Comment</span></p>
                                                <p>
                                                    Thời gian
                                                    <span class="text-@effect">
                                                        @item.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>