﻿@model MainProject.Common.Models.UserLogon

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin | Đăng Nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Content/admin/css/core.min.css">
    <link rel="stylesheet" href="/Content/admin/css/main.min.css">
</head>
<body>
    <section class="login">
        <div class="box-form-login">
            <div class="title">
                <div class="logo"><a href="http://web4gsolutions.com/"><img src="/Content/admin/assets/images/logo.png" alt=""></a></div>
                <div class="content">Xin chào quản trị viên!</div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <label>Tài khoản</label>
                        @Html.TextBoxFor(d => d.UserName)
                        <!-- span.eror Sai tài khoản-->
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Mật khẩu</label>
                        @Html.PasswordFor(d => d.Password)
                        <!-- span.eror Sai mật khẩu-->
                    </div>
                    <div class="form-group col-lg-6 d-flex justify-content-between">
                        <label>Duy trì đăng nhập</label>
                        <div class="input-custom">
                            <div class="_checkbox-normal">
                                <label>
                                    @Html.EditorFor(d => d.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <div class="forgot-pass"><a href="quen-mat-khau.html">Quên mật khẩu ?</a></div>
                    </div>
                </div>
                <button>
                    Đăng nhập
                    <div id="js-page-verify" hidden></div>
                </button>
            }
        </div>
    </section>
    <script type="text/javascript" src="/Content/admin/js/core.min.js"></script>
    <script type="text/javascript" src="/Content/admin/js/main.min.js"></script>
</body>
</html>