﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<MainProject.Core.Subscribe>
@{
    ViewBag.Title = "Quản lý Subscribe";
    var currentUserHelper = new CurrentUserHelper(Request);
}


<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/mail.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Danh sách Subscribe website của bạn</h3>
                        <p>Tại đây các quản trị viên có thể quản lý các lượt Subscribe website của mình</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Từ khóa</th>
                            <th>Giá trị</th>
                            <th>Ghi Chú</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.CreateDate.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <input type="text" value="@item.Note" data-id="@item.Id" class="form-control" />
                                    </td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageSubscribe, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA-->
                                                <a class="btn btn-outline-primary item" href="/Admin/SubscribeAdmin/Edit/@item.Id">
                                                <span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageSubscribe, PermissionCollection.Delete))
                                            {
                                                <!-- XÓA-->
                                                <button class="btn-popup btn btn-outline-danger item" fancybox="fancybox-notification" fancyboxId="#fancybox-notification" dataFieldName="Id" dataId="@item.Id" dataUrl="/Admin/SubscribeAdmin/Delete">
                                                 <span class="lnr lnr-trash"></span>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>

@section scripts {
    <script>
        $(".containIcon .btn-default").click(function () {
            var note = $("input[data-id='" + $(this).attr("data-id") + "']").val();
            $.ajax({
                url: "/Admin/SubscribeAdmin/EditNote",
                type: "POST",
                contentType: "application/json",
                data: { Note: note, Id: id },
                success: function (response) {
                    alert(response.Message);
                }
            });
        })
    </script>
}