﻿@model MainProject.Bussiness.Admin.Models.CityManageViewModel

<!-- POPUP BÌNH THƯỜNG (CÓ THỂ CUSTOM)-->
<div class="d-none">
    <div class="modal-POPUP fancybox-content" id="create-form">
        @using (Html.BeginForm("CityCreate", "RegionAdmin", FormMethod.Post))
        {
            <div class="content-modal">
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label" for="staticEmail">Tên</label>
                    <div class="col-sm-7">
                        <div class="input-group input-group-sm">
                            @Html.TextBoxFor(d => d.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.Name)
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-button">
                <div class="item">
                    <button class="btn btn-pill btn-success">Thêm mới</button>
                </div>
                <div class="item">
                    <button class="btn btn-pill btn-danger" data-fancybox-close>Hủy</button>
                </div>
            </div>
        }
    </div>
</div>