﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<MainProject.Core.Region>
@{
    ViewBag.Title = "Quản lý Tỉnh - Thành phố";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/maps.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Danh sách các Tỉnh - Thành phố</h3>
                        <p>Tại đây các quản trị viên có thể quản lý tất cả Tỉnh - thành phố để lọc chi nhánh.</p>
                    </div>
                </div>
                @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBranch, PermissionCollection.Create))
                {
                    <div class="page-title-actions">
                        <button class="btn btn-pill btn-success" data-fancybox data-src="#create-form">Thêm mới</button>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBranch, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA-->
                                                <a class="btn btn-outline-primary item" href="/Admin/RegionAdmin/CityEdit/@item.Id">
                                               <span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBranch, PermissionCollection.Delete))
                                            {
                                                <!-- XÓA-->
                                                <button class="btn-popup btn btn-outline-danger item" fancybox="fancybox-notification" fancyboxId="#fancybox-notification" dataFieldName="Id" dataId="@item.Id" dataUrl="/Admin/RegionAdmin/CityDelete">
                                         			<span class="lnr lnr-trash"></span>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                @Html.Partial("_CreateCity", new MainProject.Bussiness.Admin.Models.Region.CityManageViewModel())
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>