﻿@model MainProject.Bussiness.Admin.Models.DisctrictManageViewModel
@{
    ViewBag.Title = "Thêm mới Quận - Huyện";
}
<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/maps.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Thêm mới Quận - Huyện</h3>
                        <p>Tại đây các quản trị viên có thể cập nhật thông tin các Quận - Huyện để lọc Chi nhánh của doanh nghiệp.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="tab-container">
				<div class="block-list-tab">
				    <ul class="list-tab" hidden>
                        <li class="item acitve" toggle-for="item-1">Nội dung</li>
                    </ul>
				</div>
                    <div class="tab-content">
                        <div class="content" tab-id="item-1">
                            <div class="block-form">
                                @using (Html.BeginForm("DistrictCreate", "RegionAdmin", FormMethod.Post))
                                {
                                    <div class="form-row">
                                        @Html.ValidationSummary(true)
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Ngôn ngữ *</label>
                                            <div class="input-group shadow-sm">
                                                @Html.DropDownListFor(d => d.CitySelectedValue, Model.Cities, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.CitySelectedValue)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Tên *</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Name, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Name)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-12">
                                            <a class="btn btn-pill btn-danger" href="/Admin/RegionAdmin/DistrictAdmin">Hủy</a>
                                            <button class="btn btn-pill btn-success">Cập nhật</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>