﻿@using MainProject.Core.Enums
@model List<MainProject.Core.Setting>
@{
    ViewBag.Title = "Setting";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/setting.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Cài đặt chung</h3>
                        <p>Tại đây các quản trị viên có thể chỉnh sửa và cài đặt chung cho website của mình</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Từ khóa</th>
                            <th>Giá trị</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Key</td>
                                    <td>@item.Value</td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageSettings, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA-->
                                                <a class="btn btn-outline-primary item" href="/Admin/SettingAdmin/Edit/@item.Id">
												<span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>
