﻿@model MainProject.Framework.Models.FilterViewModel

<div class="filter">
    <form action="/Admin/IntroductionAdmin">
        <div class="form-row">
            <div class="col-lg-5 form-group">
                <label class="text-center">Ngôn ngữ</label>
                <div class="input-group shadow-sm">
                    @Html.DropDownList("cul", Model.LanguageViewModel.Languages, new { onchange = "form.submit()", @class = "form-control shadow-sm" })
                </div>
            </div>
        </div>
    </form>
</div>