﻿@model MainProject.Bussiness.Admin.Models.SectionManageModel
@{
    ViewBag.Title = "Chỉnh sửa Giới thiệu";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Chỉnh sửa Giới thiệu</h3>
                        <p>Tại đây các quản trị viên có thể cập nhật thông tin các mục Giới thiệu cho website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="tab-container">
				<div class="block-list-tab">
				   <ul class="list-tab">
                        <li class="item acitve" toggle-for="item-1">Nội dung bài viết</li>
                        <li class="item" toggle-for="item-2">Hình ảnh</li>
                    </ul>
				</div>
                    <div class="tab-content">
                        <div class="content" tab-id="item-1">
                            <div class="block-form">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-row">
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(d => d.Id)
                                        @Html.HiddenFor(d => d.LanguageId)
                                        <div class="form-group col-lg-6">
                                            <div class="input-group shadow-sm">
                                                @Model.Order.GetDescription()
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Tiêu đề</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Title)
                                        </div>
                                        <div class="w-100"></div>
                                        @if (!Model.IsMedia)
                                        {
                                            <div class="form-group col-lg-6">
                                                <label>Ảnh đại diện</label>
                                                <div class="input-group shadow-sm">
                                                    @Html.TextBoxFor(d => d.Image, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(d => d.Image)
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="form-group col-lg-12">
                                                <div class="input-group shadow-sm">
                                                <label>Nội dung</label>
                                                    @Html.TextAreaFor(d => d.Content, new { @class = "form-control ck-editor" })
                                                </div>
                                                @Html.ValidationMessageFor(d => d.Content)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="tab-pane album_images col-lg-12">
                                                <div class="box-body nopadding">
                                                    <div class="form-group mb-0 nopadding">
													<div class="block-table p-0">
                                                        <table id="program_table" class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>STT</th>
                                                                    <th>Tên</th>
                                                                    <th>Đường dẫn hình</th>
                                                                    <th>Alt</th>
                                                                    <th>Thứ tự</th>
                                                                    <th class="text-center">
                                                                        <button class="btn btn-outline-success" type="button"
                                                                                onclick="createMedia(event)">
                                                                            THÊM
                                                                        </button>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var media in Model.Medias)
                                                                {
                                                                    @Html.Partial("_Media", media)
                                                                }
                                                            </tbody>
                                                        </table>
														</div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="w-100"></div>

                                        <div class="form-group col-lg-12">
                                            <a class="btn btn-pill btn-danger" href="/Admin/SectionAdmin">Hủy</a>
                                            <button class="btn btn-pill btn-success">Cập nhật</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="content" tab-id="item-2">
                            <iframe src="/admin/upload/images?folder=@Model.ImageFolder" frameborder="0" width="100%" height="1000px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>

@section scripts {
    <script>
        // Create Media
        function createMedia(event) {
            var target = event.target || event.srcElement;
            // Array position
            var position = $(target).parents("table").find("tbody tr").length;
            var $tbody = $(target).parents("table").find("tbody")
            $.ajax({
                url: "/Admin/SectionAdmin/CreateMedia?pos=" + position,
                type: "GET",
                beforeSend: function () {
                },
                success: function (html) {
                    $tbody.append(html);

                    var form = $("form")
                        .removeData("validator") /* added by the raw jquery.validate plugin */
                        .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/

                    $.validator.unobtrusive.parse(form);
                }
            })
        }
    </script>
}