﻿@using MainProject.Core.Enums
@model IndexViewModel<MainProject.Core.Section>
@{
    ViewBag.Title = "Thông tin Giới thiệu";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Thông tin Giới thiệu</h3>
                        <p>Tại đây các quản trị viên có thể quản lý tất cả thông tin giới thiệu của doanh nghiệp trên Website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
            @Html.Partial("_Filtering", Model.FilterViewModel)
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mục</th>
                            <th class="text-center">Ngôn ngữ</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Order.GetDescription()</td>
                                    <td>
                                        <div class="language">
                                            <figure class="shadow"><img class="ofcv" src="@item.Language.Image" alt="@item.Language.Name"></figure>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageSections, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA-->
                                                <a class="btn btn-outline-primary item" href="/Admin/SectionAdmin/Edit/@item.Id">
                                               <span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>





