﻿<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentLanguage()">
<head>
    <title>@(ViewBag.MetaTitle ?? ViewBag.Title)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico">
    <!-- SEO -->
    <meta name="title" content="@Html.Raw(ViewBag.MetaTitle)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)">
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)">
    <link rel="canonical" href="@ViewBag.Canonical">

    <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="">
    <meta property="og:type" content="@ViewBag.Type">
    <meta property="og:title" content="@Html.Raw(ViewBag.MetaTitle)">
    <meta property="og:description" content="@Html.Raw(ViewBag.MetaDescription)">
    <meta property="og:url" content="@ViewBag.Canonical">
    <meta property="og:image" content="@Html.Raw(ViewBag.MetaImage)">

    <!-- Put css tags here! -->

    @RenderSection("styles", required: false)
</head>
<body>
    @Html.Action("ShowHeader", "Home")

    @Html.Partial("_Breadcrumb")

    @RenderBody()

    @Html.Action("ShowFooter", "Home")

    <!-- Put css js here! -->

    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", required: false)
</body>
</html>
