﻿@model MainProject.Common.Models.UserManagePasswordModel

<div class="modal-POPUP fancybox-content" id="fancybox-forms">
    <div class="title-modal">
        <h5>Thay đổi mật khẩu</h5>
        <p>Web4gsolutions xin thông báo</p>
    </div>
    @using (Html.BeginForm("ChangePassword", "UserAdmin", FormMethod.Post))
    {
        <div class="content-modal">
            <strong style="color: red">@Html.ValidationSummary(true)</strong>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="staticEmail">Tài khoản</label>
                <div class="col-sm-7">
                    <div class="input-group input-group-sm old-value">
                        @Html.TextBoxFor(d => d.UserName, new { @class = "form-control-plaintext", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Mật khẩu cũ</label>
                <div class="col-sm-7">
                    <div class="input-group input-group-sm">
                        @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.Password)
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Mật khẩu mới</label>
                <div class="col-sm-7">
                    <div class="input-group input-group-sm">
                        @Html.PasswordFor(d => d.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.NewPassword)
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Nhập lại mật khẩu mới</label>
                <div class="col-sm-7">
                    <div class="input-group input-group-sm">
                        @Html.PasswordFor(d => d.RePassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.RePassword)
                    </div>
                </div>
            </div>
        </div>
        <div class="list-button">
            <div class="item">
                <button type="button" class="btn btn-pill btn-danger" data-fancybox-close>Hủy</button>
            </div>
            <div class="item">
                <button class="btn btn-pill btn-success submit-form">Cập nhật</button>
            </div>
        </div>
    }
</div>