﻿@model MainProject.Common.Models.UserCreateViewModel
@{
    ViewBag.Title = "Thêm tài khoản";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/user.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Thêm mới tài khoản</h3>
                        <p>Tại đây các quản trị viên có thể thêm tạo tài khoản quản trị</p>
                    </div>
                </div>
                <div class="page-title-actions"></div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="block-form">
                    @using (Html.BeginForm())
                    {
                        <div class="form-row">
                            @Html.ValidationSummary(true)
                            <div class="w-100"></div>
                            <div class="form-group col-lg-5">
                                <label>Tên đăng nhập <span style="color:red">*</span></label>
                                <div class="input-group shadow-sm">
                                    @Html.TextBoxFor(d => d.UserName, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.UserName)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-5">
                                <label>Email <span style="color:red">*</span></label>
                                <div class="input-group shadow-sm">
                                    @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.Email)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-5">
                                <label>Mật khẩu <span style="color:red">*</span></label>
                                <div class="input-group shadow-sm">
                                    @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.Password)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-5">
                                <label>Nhập lại mật khẩu  <span style="color:red">*</span></label>
                                <div class="input-group shadow-sm">
                                    @Html.PasswordFor(d => d.RePassword, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.RePassword)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-2">
                                <label>Kích hoạt</label>
                                <div class="input-custom">
                                    <div class="_checkbox-normal">
                                        <label>
                                            @Html.EditorFor(d => d.IsActive)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-5">
                                <label>Quyền truy cập</label>
                                <div class="input-custom">
                                    @Html.DropDownList("RoleSelectedValues", Model.Roles,
                                    new
                                         {
                                            @class = "_select-custom",
                                            @multiple = ""
                                         })
                                </div>
                                @Html.ValidationMessageFor(d => d.RoleSelectedValues)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-12">
                                <a class="btn btn-pill btn-danger" href="/Admin/UserAdmin">Hủy</a>
                                <button class="btn btn-pill btn-success">Cập nhật</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>