﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<MainProject.Core.UserInfos.UserProfile>
@{
    ViewBag.Title = "Quản lý tài khoản quản trị";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/user.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Tài khoản quản trị</h3>
                        <p>Tại đây các quản trị viên có thể quản lý được toàn bộ tài khoản quản trị với các chức năng cơ bản: thêm, xóa, sửa.</p>
                    </div>
                </div>
                @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageUsers, PermissionCollection.Create))
                {
                    <div class="page-title-actions"><a class="btn btn-pill btn-success" href="/Admin/UserAdmin/Create">Thêm mới</a></div>
                }
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                <div class="filter col-lg-12">
                    <form action="/Admin/BannerAdmin">
                        <div class="form-row">
                            <div class="col-lg-3 form-group">
                                <label>Tìm kiếm</label>
                                <div class="input-group shadow-sm">
                                    <input class="form-control" name="name" placeholder="Tìm kiếm">
                                </div>
                            </div>
							<button class="btn btn-primary btn-sm shadow">Lọc</button>
                        </div>
                    </form>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên tài khoản</th>
                            <th>Email</th>
                            <th>Thuộc bộ quyền</th>
                            <th>Ngày tạo</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td data-value="@item.UserName">@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <div class="list-item">
                                            @foreach (var role in item.UserInRoles)
                                            {
                                                <div class="item badge badge-primary p-2">@role.Role.RoleName</div>
                                            }
                                        </div>
                                    </td>
                                    <td>@AccountHelper.GetCreatedDate().ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">
                                        <div class="input-custom">
                                            <label class="_checkbox-custom">
                                                @Html.CheckBoxFor(d => item.IsActive, new { @class = "custom-control-input", @readonly = true })
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageUsers, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA-->
                                                <a class="btn btn-outline-primary mr-2" href="/Admin/UserAdmin/Edit?username=@item.UserName">
                                                    <span class="lnr lnr-pencil"></span>
                                                </a>
                                                <!-- THAY ĐỔI MẬT KHẨU-->
                                                    <!-- THAY ĐỔI MẬT KHẨU (HIỆN POPUP)-->
                                                    <button class="btn btn-outline-secondary btn-popup mr-2" fancybox="fancybox-forms"
                                                            fancyboxId="#fancybox-forms" dataUrl="/Admin/UserAdmin/ChangePassword?username=@item.UserName">
                                                        <span class="lnr lnr-user"></span>
                                                    </button>
                                            }
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageUsers, PermissionCollection.Delete)
                                             && !currentUserHelper.IsCurrentUser(item.UserName) && !item.UserName.Equals("Administrator"))
                                            {
                                                <!-- XÓA-->
                                                <button class="btn-popup btn btn-outline-danger" fancybox="fancybox-notification" dataFieldName="id" dataId="@item.UserId" dataUrl="/Admin/UserAdmin/Delete" fancyboxId="#fancybox-notification">
                                                    <span class="lnr lnr-trash"></span>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group text-right col-lg-12">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel()
                    {
                        DivContainerStyle = "class='pagination'",
                        CurrentItemStyle = "class='active'"
                    })
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>