﻿@using MainProject.Infrastructure.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Content/admin/css/core.min.css">
    <link rel="stylesheet" href="/Content/admin/css/main.min.css">
    <title>@ViewBag.Title</title>

    @RenderSection("styles", false)
</head>
<body>
    <header>
        <div class="header-right">
            <div class="accounts">
                <div class="avatar item-click-dropdown">
                    <figure class="shadow"><img class="ofc" src="/Content/admin/assets/images/icons/avatar-default.svg" alt="" srcset=""></figure>
                </div>
                <div class="basic-info-accounts">
                    <div class="name">@AccountHelper.CurrentUserName()</div>
                    <div class="position">Quản trị viên</div>
                </div>
                <div class="detail-info-accounts content-dropdown">
                    <div class="header-image">
                        <div class="avatar">
                            <figure class="shadow-sm"><img class="ofc" src="/Content/admin/assets/images/icons/avatar-default.svg" alt="" srcset=""></figure>
                        </div>
                        <div class="basic-info-accounts">
                            <div class="name">@AccountHelper.CurrentUserName()</div>
                            <div class="position">Quản trị viên</div>
                        </div>
                        <div class="logout"><a class="badge badge-danger" href="/Admin/HomeAdmin/LogOut">Đăng xuất</a></div>
                    </div>
                    <div class="list-link">
                        <div class="name-list">TÀI KHOẢN</div>
                        <div class="link"><a href="#">Thông tin tài khoản</a></div>
                        <div class="link"><a href="#">Sửa thông tin tài khoản</a></div>
                        <div class="link"><a href="#">Cài đặt</a></div>
                        <div class="name-list">THIẾT LẬP</div>
                        <div class="link"><a href="#">Cài đặt chung</a></div>
                        <div class="link"><a href="#">Giao diện</a></div>
                    </div>
                </div>
            </div>
            <div class="view-website" data-toggle="tooltip" data-placement="bottom" title="Review"><a href="/" target="_blank"><img class="svg" src="/Content/admin/assets/images/icons/eye.svg" alt=""></a></div>
        </div>
    </header>
    @Html.Partial("_Menu")
    @RenderBody()
    <div class="block-loading"><img src="/Content/admin/assets/images/loading.gif" alt="" srcset=""></div>
    <input id="notify-json" type="text" value="@(TempData["message"] != null ? JsonHelper.Serialize(TempData["message"]) : "")" hidden>
    <script type="text/javascript" src="/Content/admin/js/core.min.js"></script>
    <script type="text/javascript" src="/Content/admin/js/main.min.js"></script>
    <script type="text/javascript" src="/Content/admin/Alias.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Content/admin/js/ckeditor.js"></script>
    <script type="text/javascript" src="/CKFinderScripts/ckfindercrack.js"></script>
    <script>
        $.validator.setDefaults({ ignore: '' });
    </script>
    @RenderSection("scripts", false)
</body>
</html>
