﻿@using MainProject.Core.Enums
@{
    var currentUserHelper = new CurrentUserHelper(Request);

    var isShowSetting = EntityManageTypeCollection.ManageSettings.CheckHasPermission(currentUserHelper);
    var isShowResource = EntityManageTypeCollection.ManageResource.CheckHasPermission(currentUserHelper);
    var isShowMenu = EntityManageTypeCollection.ManageMenu.CheckHasPermission(currentUserHelper);

    var isShowuser = EntityManageTypeCollection.ManageUsers.CheckHasPermission(currentUserHelper);
    var isShowPermission = EntityManageTypeCollection.ManagePermissions.CheckHasPermission(currentUserHelper);

    var isShowLoginStory = EntityManageTypeCollection.ManageLoginHistory.CheckHasPermission(currentUserHelper);
    var isShowActiveStory = EntityManageTypeCollection.ManageActivityHistory.CheckHasPermission(currentUserHelper);

    var isShowCategory = EntityManageTypeCollection.ManageCategory.CheckHasPermission(currentUserHelper);
    var isShowArticle = EntityManageTypeCollection.ManageNews.CheckHasPermission(currentUserHelper);
    var isShowBanner = EntityManageTypeCollection.ManageBanner.CheckHasPermission(currentUserHelper);
    var isShowIntro = EntityManageTypeCollection.ManageSections.CheckHasPermission(currentUserHelper);

    var isShowGallery = EntityManageTypeCollection.ManageGallery.CheckHasPermission(currentUserHelper);

    var isShowBranch = EntityManageTypeCollection.ManageBranch.CheckHasPermission(currentUserHelper);

    var isShowContact = EntityManageTypeCollection.ManageContact.CheckHasPermission(currentUserHelper);
    var isShowSubscribe = EntityManageTypeCollection.ManageSubscribe.CheckHasPermission(currentUserHelper);
}
<aside>
    <div class="sidebar-background"></div>
    <div class="block-logo">
        <div class="logo-src"><a href="/Admin/HomeAdmin"><img src="/Content/admin/assets/images/logo.png" alt="" srcset=""></a></div>
        <div class="button-close"><span class="line"></span></div>
    </div>
    <div class="aside-list">
        @if (isShowSetting || isShowResource)
        {
            <div class="aside-item">
                <div class="name">
                    <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/setting.svg" alt="" srcset=""></div>
                    <h5>Cài Đặt</h5>
                </div>
                <ul class="list-link">
                    @if (isShowSetting)
                    {
                        <li class="link"><a href="/Admin/SettingAdmin">Thiết lập</a></li>
                    }
                    @if (isShowResource)
                    {
                        <li class="link"><a href="/Admin/ResourceAdmin">Tài nguyên</a></li>
                    }
                </ul>
            </div>
        }
        @if (isShowuser || isShowPermission)
        {
            <div class="aside-item">
                <div class="name">
                    <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/user.svg" alt="" srcset=""></div>
                    <h5>Thành viên</h5>
                </div>
                <ul class="list-link">
                    @if (isShowuser)
                    {
                        <li class="link"><a href="/Admin/UserAdmin">Tài khoản quản trị</a></li>
                    }
                    @if (isShowPermission)
                    {
                        <li class="link"><a href="/Admin/RoleAdmin">Quản lí quyền</a></li>
                    }
                </ul>
            </div>
        }
        @if (isShowMenu)
        {
            <div class="aside-item">
                <div class="name">
                    <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/menu.svg" alt="" srcset=""></div>
                    <h5>Menu</h5>
                </div>
                <ul class="list-link">
                    <li class="link"><a href="/Admin/MenuAdmin?menuId=1">Main Menu</a></li>
                    <li class="link"><a href="/Admin/MenuAdmin?menuId=3">Footer Menu</a></li>
                </ul>
            </div>
        }
        @if (isShowBanner || isShowCategory || isShowArticle || isShowIntro)
        {
            <div class="aside-item">
                <div class="name">
                    <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                    <h5>Nội dung</h5>
                </div>
                <ul class="list-link">
                    @if (isShowBanner)
                    {
                        <li class="link"><a href="/Admin/BannerAdmin">Banner</a></li>
                    }
                    @if (isShowCategory)
                    {
                        <li class="link"><a href="/Admin/CategoryAdmin">Danh mục</a></li>
                    }
                    @if (isShowArticle)
                    {
                        <li class="link"><a href="/Admin/ArticleAdmin">Bài viết</a></li>
                    }
                    @if (isShowIntro)
                    {
                        <li class="link"><a href="/Admin/IntroductionAdmin">Giới thiệu</a></li>
                    }
                </ul>
            </div>
        }
        @if (isShowGallery)
        {
            <div class="aside-item">
                <div class="name">
                    <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/library.svg" alt="" srcset=""></div>
                    <h5>Thư Viện</h5>
                </div>
                <ul class="list-link">
                    <li class="link"><a href="/Admin/GalleryAdmin">Hình ảnh</a></li>
                    <li class="link"><a href="/Admin/GalleryAdmin?isVideo=true">Video</a></li>
                </ul>
            </div>
        }
        @if (isShowBranch)
        {
            <div class="aside-item">
                <div class="name">
                    <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/maps.svg" alt="" srcset=""></div>
                    <h5>Chi nhánh</h5>
                </div>
                <ul class="list-link">
                    <li class="link"><a href="/Admin/RegionAdmin/CityIndex">Thành phố</a></li>
                    <li class="link"><a href="/Admin/BranchAdmin">Chi nhánh</a></li>
                </ul>
            </div>
        }
        @if (isShowContact || isShowSubscribe)
        {
            <div class="aside-item">
                <div class="name">
                    <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/mail.svg" alt="" srcset=""></div>
                    <h5>Liên hệ</h5>
                </div>
                <ul class="list-link">
                    @if (isShowContact)
                    {
                        <li class="link"><a href="/Admin/ContactAdmin">Thông tin liên hệ</a></li>
                    }
                    @if (isShowSubscribe)
                    {
                        <li class="link"><a href="/Admin/SubscribeAdmin">Danh sách Subcribe</a></li>
                    }
                </ul>
            </div>
        }
        @if (currentUserHelper != null)
        {
            <div class="aside-item">
                <div class="name">
                    <div class="icon"><img class="svg" src="/Content/admin/assets/images/icons/folder.svg" alt="" srcset=""></div>
                    <h5>Quản Lý Hình ảnh</h5>
                </div>
                <ul class="list-link">
                    <li class="link"><a href="@Url.Action("Ckfinder", new { controller = "HomeAdmin", area = "Admin" })">Ckfinder</a></li>
                </ul>
            </div>
        }
    </div>
</aside>
