﻿@model MainProject.Core.Seo

<div class="block-form">
    <div class="form-row">
        <div class="form-group col-lg-7">
            <label>Meta Title</label>
            <div class="input-group shadow-sm">
                @Html.TextBoxFor(d => d.MetaTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.MetaTitle)
            </div>
        </div>
        <div class="w-100"></div>
        <div class="form-group col-lg-7">
            <label>Meta Image</label>
            <div class="input-group shadow-sm">
                @Html.TextBoxFor(d => d.MetaImage, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.MetaImage)
            </div>
        </div>
        <div class="w-100"></div>
        <div class="form-group col-lg-7">
            <label>Meta Description</label>
            <div class="input-group shadow-sm">
                @Html.TextAreaFor(d => d.MetaDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.MetaDescription)
            </div>
        </div>
        <div class="w-100"></div>
        <div class="form-group col-lg-7">
            <label>Meta Keywords</label>
            <div class="input-group shadow-sm">
                @Html.TextBoxFor(d => d.MetaKeywords, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.MetaKeywords)
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label class="opacity-0">None</label>
		<div class="w-100"></div>
            <button class="btn btn-success btn-sm shadow">Xác nhận</button>
        </div>
    </div>
</div>