﻿@model MainProject.Framework.Models.FilterViewModel

<div class="filter">
    <form action="/Admin/BranchAdmin">
        <div class="form-row">
            <div class="col-lg-4 form-group">
                <label class="text-center">Ngôn ngữ</label>
				<div class="input-group shadow-sm">
                @Html.DropDownList("languageId", Model.LanguageViewModel.Languages, new { onchange = "form.submit()", @class = "form-control" })
				</div>
            </div>
        </div>
    </form>
</div>