﻿@model MainProject.Bussiness.Admin.Models.RegionSelectModel
@{
    Layout = null;
}

<div class="form-group col-lg-6">
    <label>Tỉnh - Thành phố *</label>
    <div class="input-group shadow-sm">
        @Html.DropDownList("CitySelectedValue", new List<SelectListItem>(), new { @class = "form-control" })
    </div>
    @Html.ValidationMessageFor(d => d.CitySelectedValue)
</div>
<div class="w-100"></div>

@* Bring it out to main vỉew and put into section scripts
<script src="~/Scripts/MainProject/RegionController.js"></script>
<script>
    $(function () {
        RegionController.initAdmin();
    })
</script>*@