﻿@model MainProject.Bussiness.Admin.Models.BranchManageViewModel
@{
    ViewBag.Title = "Thêm chi nhánh";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/maps.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Thêm Chi nhánh</h3>
                        <p>Tại đây các quản trị viên có thể thêm Chi nhánh của doanh nghiệp cho website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="tab-container">
				<div class="block-list-tab">
				   <ul class="list-tab" hidden>
                        <li class="item acitve" toggle-for="item-1">Nội dung bài viết</li>
                    </ul>
				</div>
                    <div class="tab-content">
                        <div class="content" tab-id="item-1">
                            <div class="block-form">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-row">
                                        @Html.ValidationSummary(true)
                                        <div class="form-group col-lg-6">
                                            <label>Ngôn ngữ *</label>
                                            <div class="input-group shadow-sm">
                                                @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Tên chi nhánh *</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.OfficeName, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.OfficeName)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Địa chỉ</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextAreaFor(d => d.Address, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Address)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Địa chỉ Google Map</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.AddressMap, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.AddressMap)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Email</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Email)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Điện thoại</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Phone, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Phone)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Fax</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Fax, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Fax)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-2">
                                            <label>Lat</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Lat, new { @class = "form-control", type = "number" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Lat)
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label>Lng</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Lng, new { @class = "form-control", type = "number" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Lng)
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label>Thứ tự hiển thị</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Order, new { @class = "form-control", type = "number" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Order)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-2">
                                            <label>Hiển thị</label>
                                            <div class="input-custom">
                                                <div class="_checkbox-normal">
                                                    <label>
                                                        @Html.EditorFor(d => d.IsPublished)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-12">
                                            <a class="btn btn-pill btn-danger" href="/Admin/BranchAdmin">Hủy</a>
                                            <button class="btn btn-pill btn-success">Thêm</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>