﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<MainProject.Core.Branch>
@{
    ViewBag.Title = "Quản lý chi nhánh";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/maps.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Danh sách Chi nhánh</h3>
                        <p>Tại đây các quản trị viên có thể quản lý tất cả chi nhánh của doanh nghiệp trên website và bản đồ.</p>
                    </div>
                </div>
                @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBranch, PermissionCollection.Create))
                {
                    <div class="page-title-actions"><a class="btn btn-pill btn-success" href="/Admin/BranchAdmin/Create">Thêm mới</a></div>
                }
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                @Html.Partial("_Filtering", Model.FilterViewModel)
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên chi nhánh</th>
                            <th class="text-center">Địa chỉ</th>
                            <th class="text-center">Ngôn ngữ</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.OfficeName</td>
                                    <td class="text-center">@item.Address</td>
                                    <td>
                                        <div class="language">
                                            <figure class="shadow"><img class="ofcv" src="@item.Language.Image" alt="@item.Language.Name"></figure>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBranch, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA--><a class="btn btn-outline-primary item" href="/Admin/BranchAdmin/Edit/@item.Id">
                                                 <span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBranch, PermissionCollection.Delete))
                                            {
                                                <!-- XÓA-->
                                                <button class="btn-popup btn btn-outline-danger item" fancybox="fancybox-notification" fancyboxId="#fancybox-notification" dataFieldName="Id" dataId="@item.Id" dataUrl="/Admin/BranchAdmin/Delete">
                                                  <span class="lnr lnr-trash"></span>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group text-right col-lg-12">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel()
                    {
                        DivContainerStyle = "class='pagination'",
                        CurrentItemStyle = "class='active'"
                    })
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>