﻿@model MainProject.Framework.Models.FilterViewModel

<div class="filter">
    <form action="/Admin/MenuAdmin">
        <input hidden name="menuId" value="@Model.FatherSelectModel.FatherSelectedValue" />
        <div class="form-row">
            <div class="col-lg-5 form-group">
                <label class="text-center">Ngôn ngữ</label>
                <div class="input-group shadow-sm">
                    @Html.DropDownList("cul", Model.LanguageViewModel.Languages, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-sm shadow">Lọc</button>
    </form>
</div>