﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<MainProject.Common.Models.MenuItemModel>
@{
    ViewBag.Title = "Danh sách Menu";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/menu.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Quản lý các loại Menu</h3>
                        <p>Tại đây các quản trị viên có thể quản lý các danh mục menu với các chức năng cơ bản: thêm, xóa, sửa.</p>
                    </div>
                </div>
                @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageMenu, PermissionCollection.Create))
                {
                    <div class="page-title-actions"><a class="btn btn-pill btn-success" href="/Admin/MenuAdmin/Create?menuId=@Model.FilterViewModel.FatherSelectModel.FatherSelectedValue">Thêm mới</a></div>
                }
            </div>
        </div>

        <div class="row">
            <div class="block-table col-lg-12">
                @Html.Partial("_Filtering", Model.FilterViewModel)
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên Menu</th>
                            <th>Danh mục cha ( nếu có )</th>
                            <th>Đường dẫn</th>
                            <th class="text-center">Thứ tự</th>
                            <th class="text-center">Ngôn ngữ</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Title</td>
                                    <td>@item.ParentPath</td>
                                    <td>@item.Link</td>
                                    <td class="text-center">@item.Order</td>
                                    <td>
                                        <div class="language">
                                            <figure class="shadow"><img class="ofcv" src="@item.Language.Image" alt="@item.Language.Name"></figure>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageMenu, PermissionCollection.Create))
                                            {
                                                <!-- SỬA-->
                                                <a class="btn btn-outline-primary item" href="/Admin/MenuAdmin/Edit/@item.Id">
                                                 <span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageMenu, PermissionCollection.Create))
                                            {
                                                <!-- XÓA-->
                                                <button class="btn-popup btn btn-outline-danger item" fancybox="fancybox-notification" fancyboxId="#fancybox-notification" dataFieldName="Id" dataId="@item.Id" dataUrl="/Admin/MenuAdmin/Delete">
                                                  <span class="lnr lnr-trash"></span>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group text-right col-lg-12">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel()
                    {
                        DivContainerStyle = "class='pagination'",
                        CurrentItemStyle = "class='active'"
                    })
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>