﻿@model MainProject.Common.Models.MenuItemManageModel
@{
    ViewBag.Title = "Quản lý danh mục";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/menu.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>@(Model.Id == 0 ? "Thêm Menu" : "Chỉnh sửa Menu")</h3>
                        <p>Tại đây các quản trị viên có thể cập nhật thông tin các menu.</p>
                    </div>
                </div>
                <div class="page-title-actions"></div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="block-form">
                    @using (Html.BeginForm("Manage", "MenuAdmin", FormMethod.Post))
                    {
                        <div class="form-row">
                            @Html.HiddenFor(x => x.Id)
                            @Html.HiddenFor(x => x.MenuSelectedValue)
                            <div class="form-group col-lg-6">
                                <label>Ngôn ngữ</label>
                                <div class="input-group shadow-sm">
                                    @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @class = "form-control", @onchange = "getMenuItems()" })
                                </div>
                                @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-6">
                                <label>Danh mục cha</label>
                                <div class="input-group shadow-sm">
                                    @Html.DropDownListFor(d => d.ParentSelectedValue, new List<SelectListItem>(), new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.ParentSelectedValue)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-6">
                                <label>Tiêu đề <span style="color:red">*</span></label>
                                <div class="input-group shadow-sm">
                                    @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.Title)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-6">
                                <label>Đường dẫn</label>
                                <div class="input-group shadow-sm">
                                    @Html.TextBoxFor(d => d.Link, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.Link)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-3">
                                <label>Thứ tự <span style="color:red">*</span></label>
                                <div class="input-group shadow-sm">
                                    @Html.TextBoxFor(d => d.Order, new { @class = "form-control", @type = "number" })
                                </div>
                                @Html.ValidationMessageFor(d => d.Order)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-6" hidden>
                                <label>Hình đại diện</label>
                                <div class="input-group shadow-sm">
                                    @Html.TextBoxFor(d => d.Image, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.Image)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-6">
                                <label>Target Menu</label>
                                <div class="input-group shadow-sm">
                                    @Html.DropDownListFor(d => d.LinkTargetSelected, Model.LinkTargets, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(d => d.LinkTargetSelected)
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-lg-12">
                                <a class="btn btn-pill btn-danger" href="/Admin/MenuAdmin">Hủy</a>
                                <button class="btn btn-pill btn-success">Cập nhật</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>

@section scripts{
    <script type="text/javascript">
        $("#LanguageSelectedValue").trigger("change");
        function getMenuItems() {
            var langId = $("#LanguageSelectedValue").val();

            $.ajax({
                url: "/Admin/MenuAdmin/GetMenuItems?languageId=" + langId + '&menuId=' + @Model.MenuSelectedValue + '&selectedValue=' + @Model.ParentSelectedValue,
                type: "GET",
                 beforeSend: function () {
                    $('#ParentSelectedValue').attr("disabled", true);
                    $('#ParentSelectedValue').html('<option>Đang tải...</option>')
                }
            }).done(function (result) {
                $('#ParentSelectedValue').attr("disabled", false);
                $('#ParentSelectedValue').children().remove();
                $.each(result.Data, function (i, item) {
                    if (item.Value != '@Model.Id' || item.Value == '0') {
                        $("#ParentSelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
                    }
                });
            }).fail(function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
        }
    </script>
}