﻿@model MainProject.Framework.Models.FilterViewModel

<div class="filter">
    <form action="/Admin/CategoryAdmin">
        <div class="form-row">
            <div class="col-lg-3 form-group">
                <label>Danh mục</label>
                <div class="input-group shadow-sm">
                    @Html.DropDownList("languageId", Model.LanguageViewModel.Languages, new { @class = "form-control", @onchange = "changeLanguage(this.value)" })
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function changeLanguage(id) {
        window.location.href = "/Admin/CategoryAdmin?languageId=" + id;
    }
</script>