﻿@using MainProject.Core.Enums
@using MainProject.Framework.Models
@model IndexViewModel<MainProject.Core.Category>
@{
    ViewBag.Title = "Quản lý Danh mục!";
    var currentUserHelper = new CurrentUserHelper(Request);
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Danh sách Danh mục</h3>
                        <p>Tại đây các quản trị viên có thể quản lý tất cả Danh mục theo mẫu trang (layout) và đường dẫn truy cập Website.</p>
                    </div>
                </div>
                @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageCategory, PermissionCollection.Create))
                {
                    <div class="page-title-actions"><a class="btn btn-pill btn-success" href="/Admin/CategoryAdmin/Create">Thêm mới</a></div>
                }
            </div>
        </div>
        <div class="row">
            <div class="block-table col-lg-12">
                @Html.Partial("_Filtering", Model.FilterViewModel)
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tiêu đề</th>
                            <th>Danh mục cha (nếu có)</th>
                            <th>Đường dẫn</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@item.Title</td>
                                    <td>
                                        @if (item.Parent != null)
                                        {
                                            <text>@item.Parent.Title</text>
                                        }
                                    </td>
                                    <td>
                                        @item.GetPrefixUrl()
                                    </td>
                                    <td>
                                        <div class="list-item center">
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageCategory, PermissionCollection.Edit))
                                            {
                                                <!-- SỬA--><a class="btn btn-outline-primary item" href="/Admin/CategoryAdmin/Edit/@item.Id">
                                                <span class="lnr lnr-pencil"></span>
                                                </a>
                                            }
                                            @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageCategory, PermissionCollection.Delete))
                                            {
                                                <!-- XÓA-->
                                                <button class="btn-popup btn btn-outline-danger item" fancybox="fancybox-notification" fancyboxId="#fancybox-notification" dataFieldName="Id" dataId="@item.Id" dataUrl="/Admin/CategoryAdmin/Delete">
                                      <span class="lnr lnr-trash"></span>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="form-group text-right col-lg-12">
                    @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel()
                    {
                        DivContainerStyle = "class='pagination'",
                        CurrentItemStyle = "class='active'"
                    })
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>