﻿@model MainProject.Common.Models.ImageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/Content/admin/css/core.min.css" />
    <link rel="stylesheet" href="/Content/admin/css/dropzone.min.css" />
</head>
<body>
    <div class="upload-file">
        <div id="actions">
            <div class="upload-image-wrapper">
                <div class="desc-how-to-upload">
                    <p>Kéo vào đây hoặc bấm để tải ảnh lên</p>
                    <button class="btn btn-secondary shadow">Tải ảnh lên</button>
                </div>
            </div>
        </div>
        <h5>Danh sách hình ảnh đã tải lên</h5>
        <div id="list-image">
            @foreach (var item in Model.Images)
            {
                <div class="file-item">
                    <div class="file-item-image shadow"><img class="ofc" src="@item.Link" /></div>
                    <div class="file-item-name">
                        <p class="name">@item.Name<strong class="error text-danger" data-dz-errormessage=""></strong></p>
                    </div>
                    <div class="file-item-url">
                        <input class="form-control url" readonly="" value="@item.Link" type="text" /><span class="btn btn-copy-url">
                            <svg id="Outlined" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <title></title>
                                <g id="Fill">
                                    <path d="M24,3H20.82A3,3,0,0,0,18,1H14a3,3,0,0,0-2.82,2H8A3,3,0,0,0,5,6V26a3,3,0,0,0,3,3H24a3,3,0,0,0,3-3V6A3,3,0,0,0,24,3ZM13,4a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1V5H13ZM25,26a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V6A1,1,0,0,1,8,5h3V7H21V5h3a1,1,0,0,1,1,1Z"></path>
                                    <rect height="2" width="10" x="11" y="15"></rect>
                                    <rect height="2" width="5" x="11" y="19"></rect>
                                </g>
                            </svg>
                        </span>
                    </div>
                    <div class="file-item-remove">
                        <button class="btn btn-danger btn-delete" onclick="deleteImage(this,'@item.Link')"><i class="glyphicon glyphicon-trash"></i><span>Xóa</span></button>
                    </div>
                </div>
            }
        </div>
        <div class="d-none" id="list-image-preview"></div>
        <div class="d-none" id="template-preview">
            <div class="file-item">
                <div class="file-item-image"><img class="ofc" data-dz-thumbnail="" /></div>
                <div class="file-item-name">
                    <p class="name" data-dz-name=""><strong class="error text-danger" data-dz-errormessage=""></strong></p>
                </div>
                <div class="file-item-url">
                    <input class="form-control url" readonly="" value="http://localhost:8000/test.jpg" type="text" /><span class="btn btn-copy-url">
                        <svg id="Outlined" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <title></title>
                            <g id="Fill">
                                <path d="M24,3H20.82A3,3,0,0,0,18,1H14a3,3,0,0,0-2.82,2H8A3,3,0,0,0,5,6V26a3,3,0,0,0,3,3H24a3,3,0,0,0,3-3V6A3,3,0,0,0,24,3ZM13,4a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1V5H13ZM25,26a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V6A1,1,0,0,1,8,5h3V7H21V5h3a1,1,0,0,1,1,1Z"></path>
                                <rect height="2" width="10" x="11" y="15"></rect>
                                <rect height="2" width="5" x="11" y="19"></rect>
                            </g>
                        </svg>
                    </span>
                </div>
                <div class="file-item-remove">
                    <button class="btn btn-danger btn-delete"><i class="glyphicon glyphicon-trash"></i><span>Xóa</span></button>
                </div>
            </div>
        </div>
    </div>
    <input id="dataFolder" type="text" hidden="hidden" data-folder="@Model.Folder" />
    <script type="text/javascript" src="/Content/admin/js/core.min.js"></script>
    <script type="text/javascript" src="/Content/admin/js/drop-zone.min.js"></script>
</body>
</html>